/*Body*/
.dividirColumnas {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 70px;
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 20px;
}

.imagenProducto img {
    width: 500px;
    height: 500px;
    padding:20px;
}
.detalles-producto{
    padding: 0 20px;
    width: 50%;
}
.detalles-producto h1{
    font-family: 'Jura', sans-serif;
    color: #6f1d57;
}
/*Abraham - agregue nuevos estilos para ajustar mejor el diseño*/
.detalles-producto .precios{
    display: block ruby;
}
.detalles-producto .precios h3{
    margin-right: 10px;
}
.detalles-producto .precios h5{
    color: #fcbd8b;
}
.detalles-producto .listado{
    padding: 40px 0;
}
.detalles-producto .listado li{
    list-style: disclosure-closed;
    list-style-position: inside;
}
.imagenes {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
    width: 50%;
}

.boton_imagen1 {
    width: 44px;
    height: 44px;
}

.imagenes_botones {
    padding-top: 10px;
}

.listado ul {
    font-family: 'Quicksand', sans-serif;
    display: flex;
    padding-left: 0px;
    flex-direction: column;
    padding-top: 20px;
}

.estilo_cuadro {
    font-family: 'Quicksand', sans-serif;
    border-radius: 5px;
    margin: 10px;
    border: 2px solid #6f1d57;
    width: 80%;
}

.boton_carrito {
    font-family: 'Quicksand', sans-serif;
    border-radius: 5px;
    margin: 0 auto;
    background-color: #6f1d57;
    color: #fffafa;
    padding: 10px 50px;
    margin-top: 70px;
}

.prod h3 {
    font-family: 'Jura', sans-serif;
    text-align: center;
    padding-bottom: 10px;
}

.productos_similares {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #eddab9;
    padding-top: 20px;
    padding-bottom: 20px;
}

.imagenes_prod_similares img {
    width: 20vw;
    height: auto;
    border-radius: 50%;
}


/*Footer*/
footer {
    background-color: #6f1d57;
    color: #fffafa;
    width: 100%;
    margin-top: 2em;
    font-family: 'Quicksand', sans-serif;
}

footer h4 {
    color: #fcbd8b;
    text-align: center;
    font-family: 'Jura', sans-serif;
    font-size: 24px;
    font-weight: bold;
}

.col-footer {
    width: 24.5%;
    display: inline-block;
    padding: 20px 0;
}

.rss ul li {
    display: inline-block;
}

.rss a {
    color: #fffafa;
}

.rss a:hover {
    color: #6f1d57;
}

.rss i {
    font-size: 26px;
    background-color: #fcbd8b;
    margin: 10px 8px 0;
    border-radius: 30px;
    height: 45px;
    width: 45px;
    text-align: center;
    line-height: 45px;
}
/*Desk 1400*/
@media(max-width:1499px){
    .rss i{
        margin:10px 5px 0;
    }
}
/*Desk 1100*/
@media(max-width:1199px){
    .col-footer.rss ul{
        padding-left:0;
    }
    .rss i{
        margin:10px 7px 0;
        height: 40px;
        width: 40px;
        line-height: 40px;
    }
}
/*Tablet - Landscape*/
@media(max-width:1120px){
    .col-header-25.main-logo{
        width: 20%;
    }
    .main-logo img{
        width: 100%;
    }
    .col-header-50{
        margin:0;
    }
    .col-header-25.right-menu, .col-header-50.main-menu{
        width:100%;
        position: absolute;
        right: -100px;
    }
    .col-header-50.main-menu{
        top: 20px;
    }
    .col-header-25.right-menu{
        top:80px;
    }
    footer h4{
        font-size: 20px;
    }
    .col-footer input{
        width:170px;
    }

}
/*Tablet - Portrait*/
@media(max-width:999px){
    /*Especifico de detalleDelProducto.html*/
    .dividirColumnas{
        flex-direction: column;
    }
    .detalles-producto{
        padding: 0 20vw;
        margin-bottom: 40px;
    }
    .estilo_cuadro{
        width: 100%;
    }
    .boton_carrito{
        margin-top: 20px;
    }
    .col-footer {
        width: 32%;
        text-align: center;
    }
    .col-footer ul{
        padding:0;
    }
    .col-footer.rss {
        width: 100%;
    }
}
/*Tablet - Portrait - Small*/
@media(max-width:787px){
    /*Especifico de detalleDelProducto.html*/
    .imagenProducto img{
        width: 100%;
        height: auto;
    }
    .detalles-producto{
        padding: 0 15vw;
    }
    .col-header-50.main-menu{
        top:10px;
    }
    .col-header-25.right-menu{
        top: 60px;
    }
    .col-footer {
        width: 32%;
        text-align: center;
    }
    .col-footer ul{
        padding:0;
    }
    .col-footer.rss {
        width: 100%;
    }
}
/*Mobile*/
@media(max-width:576px){
    /*Especifico de detalleDelProducto.html*/
    .col-header-25.right-menu, .col-header-50.main-menu{
        right:0;
        left: 50px;
        font-size: 20px;
    }
    .col-footer{
        width: 100%;
    }
}
/*Mobile Small*/
@media(max-width:419px){
    /*Especifico de detalleDelProducto.html*/
    .detalles-producto{
        padding: 0 10vw;
    }
    .col-header-25.main-logo{
        display: inherit;
        margin: 0 auto;
        width: 50%;
    }
    .col-header-25.right-menu, .col-header-50.main-menu{
        position: inherit;
    }

}