.login_container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: .25rem;
	font-family: 'Jura', sans-serif;
	font-size: 18px;
	color: #fcbd8b;
	font-weight: bold;
	text-transform: capitalize;
}

.login_subcontainer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border: 1px solid;
	width: 30%;
	padding: 2rem;
	border-radius: .25rem;
	background-color: #6f1d57;
	min-width: 560px;
}

.login_pass_container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	border: 1px solid;
	padding: 1.5rem;
}

.login_pass_container input {
	border-top: none;
	border-left: none;
	border-right: none;
	margin-bottom: 2rem;
	font-family: 'Quicksand', sans-serif;
}

.login_pass_container button {
	width: 65%;
	padding: 0.5rem;
	margin-top: 1rem;
	border-radius: .25rem;
	background-color: #fcbd8b;
	font-family: 'Quicksand', sans-serif;
	color: #6f1d57;
}

.login,
.pass {
	width: 90%;
	display: flex;
	justify-content: space-around;
}

.login i {
	height: 2rem;

}

.login_pass_container a{
	font-weight: bold;
	color:#e8789a;
}
.login_pass_container a:hover{
	color:#fffafa;
}
/*Mobile*/
@media(max-width:576px){
	.login_subcontainer{
		min-width: auto;
		width: 100%;
		margin: 30px;
	}
	.login_subcontainer{
		padding:2rem 1rem;
	}
	.login_pass_container i{
		padding:0 2px;
	}
}
/*Mobile Small*/
@media(max-width:419px){
	.login_pass_container{
		width: 100%;
		padding:1rem 0.5rem;
	}
	.login_pass_container a{
		text-align: center;
	}
}