<!DOCTYPE html>
<html lang="en">


<%- include("./partials/head") %>
    <%- include("./partials/header") %>

        <body>
            <form method="POST" action="http://localhost:3030/productos/crear">
                <li>
                    <input type="text" name="producto.nombre" placeholder="agregá el nombre del producto">
                </li>
                <li>
                    <input type="number" name="producto.precio" placeholder="agregá el precio del producto">
                </li>
                <li>
                    <input type="number" name="producto.descuento" placeholder="agregá el descuento del producto">
                </li>
                <li>
                    <input type="text" name="producto.descripcion" placeholder="agregá descripcion">
                </li>
                <li>
                    <input type="text" name="producto.categoria" placeholder="agregá la categoria del producto">
                </li>
                <li>
                    <input type="text" name="producto.relleno_1" placeholder="agregá el relleno">
                </li>
                <li>
                    <input type="text" name="producto.relleno_2" placeholder="agregá el relleno">
                </li>
                <li>
                    <input type="text" name="producto.relleno_3" placeholder="agregá el relleno">
                </li>
                <li>
                    <input type="number" name="producto.porcion_1" placeholder="agregá la cantidad de porciones">
                </li>
                <li>
                    <input type="number" name="producto.porcion_2" placeholder="agregá la cantidad de porciones">
                </li>
                <input type="number" name="producto.porcion_3" placeholder="agregá la cantidad de porciones">

                <input type="submit" value="Agregar poducto">
            </form>

        </body>
        <%- include("./partials/footer") %>
            <%- include("./partials/scripts") %>

</html>