<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="/public/css/styles.css">
    <link rel="stylesheet" href="/public/css/carritoDeCompras.css">
    <link rel="stylesheet" href="/public/css/detalleDelProducto.css">
    <link rel="stylesheet" href="/public/css/register.css">
    <link rel="stylesheet" href="/public/css/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Jura:wght@400;700&family=Quicksand:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<%- include("./partials/header") %>

    <body>
        <div class="main-container">
            <aside class="left-col">
                <div class="categorias">
                    <h2>Categorias</h2>
                    <ul>
                        <li><a href="#">Tortas</a></li>
                        <li><a href="#">Galletas</a></li>
                        <li><a href="#">Facturas</a></li>
                        <li><a href="#">Tortas</a></li>
                        <li><a href="#">Galletas</a></li>
                        <li><a href="#">Facturas</a></li>
                        <li><a href="#">Tortas</a></li>
                        <li><a href="#">Galletas</a></li>
                        <li><a href="#">Facturas</a></li>
                    </ul>
                </div>
                <div class="aside-destacado">
                    <img src="/public/images/torta-lucia.jpg">
                    <div class="mask">
                        <h2 class="product-title">Torta Lucia</h2>
                        <span class="description">
                        Bizcocho de vainilla.
                        Puede seleccionar entre distintos rellenos.
                        Cubierta de pasta ballina color rosa pastel.
                        Decorada con macarons y figuras comestibles de azucar glass.
                        Puede selecionar distintos tamaños.
                    </span>
                        <span class="price">2500,00 $</span>
                    </div>
                </div>
            </aside>
            <div class="main-content">
                <div class="main-carrousel">
                    <div class="slideshow-container">
                        <div class="mySlides">
                            <img src="/public/images/postre-2-a.jpg">
                        </div>

                        <div class="mySlides">
                            <img src="/public/images/postre-3-a.jpg">
                        </div>

                        <div class="mySlides">
                            <img src="/public/images/postre-1-a.jpg">
                        </div>

                        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                        <a class="next" onclick="plusSlides(1)">&#10095;</a>
                    </div>
                    <br>
                    <div style="text-align:center">
                        <span class="dot" onclick="currentSlide(1)"></span>
                        <span class="dot" onclick="currentSlide(2)"></span>
                        <span class="dot" onclick="currentSlide(3)"></span>
                    </div>
                </div>
                <div class="main-products">
                    <article class="product">
                        <div class="mask">
                            <h2 class="product-title">Torta Sofia</h2>
                            <a href="#"><img src="/public/images/torta-sofia.jpg"></a>
                            <span class="price">2400,00 $</span>
                        </div>
                    </article>
                    <article class="product">
                        <div class="mask">
                            <h2 class="product-title">Torta Lucia</h2>
                            <a href="/productos"><img src="/public/images/torta-lucia.jpg"></a>
                            <span class="price">2500,00 $</span>
                        </div>
                    </article>
                    <article class="product">
                        <div class="mask">
                            <h2 class="product-title">Torta Emma </h2>
                            <a href="#"><img src="/public/images/torta-emma.jpg"></a>
                            <span class="price">2200,00 $</span>
                        </div>
                    </article>

                </div>
            </div>

        </div>
    </body>
    <%- include("./partials/footer") %>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.min.js" integrity="sha384-PsUw7Xwds7x08Ew3exXhqzbhuEYmA2xnwc8BuD6SEr+UmEHlX8/MCltYEodzWA4u" crossorigin="anonymous"></script>
        <script src="/public/js/carrousel.js"></script>

        </html>