<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head") %>
    <%- include("./partials/header") %>

        <body>
            <h2 class="prod_tittle">Listado de Productos</h2>
            <div class="products_container">
                <div class="products_subcontainer">
                    <div class="tittle_container">
                        <h4>Tortas</h4>
                    </div>
                    <div class="product_bigbox">
                        <div class="product_box">
                            <img src="/public/images/torta-sofia.jpg">
                            <h5>Torta Sofía</h5>
                            <p>Precio: $2.400</p>
                            <button name="boton" type="button">AÑADIR AL CARRITO</button>
                        </div>
                        <div class="product_box">
                            <img src="/public/images/torta-lucia.jpg">
                            <h5>Torta Lucía</h5>
                            <p>Precio: $2.500</p>
                            <button name="boton" type="button">AÑADIR AL CARRITO</button>
                        </div>
                        <div class="product_box">
                            <img src="/public/images/torta-emma.jpg">
                            <h5>Torta Emma</h5>
                            <p>Precio: $2.200</p>
                            <button name="boton" type="button">AÑADIR AL CARRITO</button>
                        </div>
                    </div>
                    <div class="tittle_container">
                        <h4>Cupcakes</h4>
                    </div>
                    <div class="product_bigbox">
                        <div class="product_box">
                            <img src="/public/images/galleta-1.jpeg">
                            <h5>Chocolate</h5>
                            <p>Precio: $1.400</p>
                            <button name="boton" type="button">AÑADIR AL CARRITO</button>
                        </div>
                        <div class="product_box">
                            <img src="/public/images/galleta-2.jpeg">
                            <h5>Red Velvet</h5>
                            <p>Precio: $1.500</p>
                            <button name="boton" type="button">AÑADIR AL CARRITO</button>
                        </div>
                        <div class="product_box">
                            <img src="/public/images/galleta-3.jpeg">
                            <h5>Caramelo</h5>
                            <p>Precio: $1.200</p>
                            <button name="boton" type="button">AÑADIR AL CARRITO</button>
                        </div>
                    </div>
                    <div class="tittle_container">
                        <h4>Facturas</h4>
                    </div>
                    <div class="product_bigbox">
                        <div class="product_box">
                            <img src="/public/images/factura-1.png">
                            <h5>Manzanita de hojaldre</h5>
                            <p>Precio: $600</p>
                            <button name="boton" type="button">AÑADIR AL CARRITO</button>
                        </div>
                        <div class="product_box">
                            <img src="/public/images/factura-2.png">
                            <h5>Palmerita</h5>
                            <p>Precio: $500</p>
                            <button name="boton" type="button">AÑADIR AL CARRITO</button>
                        </div>
                        <div class="product_box">
                            <img src="/public/images/factura-3.png">
                            <h5>Caracola</h5>
                            <p>Precio: $300</p>
                            <button name="boton" type="button">AÑADIR AL CARRITO</button>
                        </div>
                    </div>
                </div>
            </div>
        </body>

        <%- include("./partials/footer") %>
        <%- include("./partials/scripts") %>

</html>