<footer>
    <div class="container ">
        <div class="col-footer ">
            <h4>Productos Destacados</h4>
            <ul>
                <li>Producto 1</li>
                <li>Producto 2</li>
                <li>Producto 3</li>
            </ul>
        </div>
        <div class="col-footer ">
            <h4>Ofertas</h4>
            <ul>
                <li>Producto 1</li>
                <li>Producto 2</li>
                <li>Producto 3</li>
            </ul>
        </div>
        <div class="col-footer ">
            <h4>Newsletter</h4>
            <p>Recibe las mejores ofertas y promociones</p>
            <input placeholder="Ingresa tu mail aca "></input>
        </div>
        <div class="col-footer rss ">
            <h4>Redes Sociales</h4>
            <ul>
                <li><a href="# "><i class="fab fa-facebook-f "></i></a></li>
                <li><a href="# "><i class="fab fa-instagram "></i></a></li>
                <li><a href="# "><i class="fab fa-pinterest-p "></i></a></li>
                <li><a href="# "><i class="fab fa-whatsapp "></i></a></li>
            </ul>
        </div>
    </div>
</footer>