<header class="header">
    <div class="container">
        <div class="col-header-25 main-logo"><img src="/public/images/logo-sweet-dreams-brand.png"></img>
        </div>
        <div class="col-header-50 main-menu">
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/productos">Productos</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
            </nav>
        </div>
        <div class="col-header-25 right-menu">
            <ul>
                <li><a href="/login">Login</a></li>
                <li><a href="/registro">Registro</a></li>
                <li><a href="/carritoDeCompras">Carrito</a></li>
            </ul>
        </div>
    </div>
</header>